__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.vscode
.idea
bot_database.sqlite
bot_database.sqlite-journal
*.log
*.md
LICENSE

# basically gitignore but for docker so the image is smaller