__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.vscode
.idea
bot_database.sqlite
bot_database.sqlite-journal
*.log
*.md
LICENSE
tests/
tests/*
demos/
demos/*

# basically gitignore but for docker so the image is smaller